<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div class="caja_formulario">
            <div class="botones_caja">
                <h1>Inicia sesion</h1>
            </div>
            <form id="login" class="grupo_input" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                    <input type="text" class="form-control bg-transparent border-0 input1" placeholder="Username" name="username">
                </div>
                    <br>
                <div class="col-md-12">
                    <input type="password" class="form-control bg-transparent border-0 input1" placeholder="Contrasena" name="password">
                </div>
                <button type="submit" class="boton_registrar">Iniciar sesion</button>
            </form>
        </div>
    </div>
</body>
</html>